html,body{
    margin:0px;
    font-size: 16px;
}
ul,li{
    list-style-type: none;
}
a{
    color:#333;
    text-decoration: none;
    /* text-transform: capitalize; */
}
img{
    /* display: block; */
    width: 100%;
}
span,em,strong,a{display: inline-block;}
/* font-family: 'Nanum Gothic', sans-serif; */
/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin:0;padding:0;
    font-family: 'IBM Plex Sans', sans-serif;

    font-size:16px;
    /* font-family: 'Nanum Gothic', sans-serif; */
    color:#333;
    box-sizing:border-box;
    /* text-transform: capitalize; */
    /*
        border 또는 padding 넣어주면 
        width,height값이 변경됨
    
        box-sizing:border-box는 이러한 문제점을
        해결해줌 (width,height 값이 변경 안됨)
    */
    
}