#warp{
    width: 100%; height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    background: #ebe1d2;
}

header{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .menu_icon{
    width: 18px; height: 12px;
    position: relative;
}
header .menu_icon span{
    width: 100%; height: 2px;
    background: #503629;
    position: absolute;
    left: 0;
}
header .menu_icon span:nth-of-type(2){
    top: 0;
}
header .menu_icon span:nth-of-type(2){
    top: 5px;
}
header .menu_icon span:nth-of-type(3){
    top: 10px;
}

header h1{
    width: 100px;
}
header h1 img{}

header > p{
    width: 20px;
}
header p img{}

header .main_menu{
    width: 50%; height: 100vh;
    min-width: 280px;
    background: #fff;
    position: absolute;
    left: 0; top: 0;
    padding: 10px;
    /* display: none; */
}
header .main_menu .main_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
header .main_menu .main_login > a:nth-of-type(1){
    position: relative;
    color: #777;
}
header .main_menu .main_login > a:nth-of-type(1)::after{
    content: '';
    display: inline-block;
    width: 9px; height: 1px;
    background: #777;
    position: absolute;
    right: -18px; top: 7px;
    transform: rotate(45deg);
}
header .main_menu .main_login > a:nth-of-type(1)::before{
    content: '';
    display: inline-block;
    width: 9px; height: 1px;
    background: #777;
    position: absolute;
    right: -18px; bottom: 7px;
    transform: rotate(-45deg);
}

header .main_menu nav{}
header .main_menu nav .one_depth{}
header .main_menu nav .one_depth > li{
    margin-bottom: 22px;
}
header .main_menu nav .one_depth > li > a{
    width: 100%;
    position: relative;
}
header .main_menu nav .one_depth > li > a small{
    margin-right: 10px;
}
header .main_menu nav .one_depth > li > a small img{
    width: 17px;
    margin-bottom: -2px;
}
header .main_menu nav .one_depth li a > span{
    /* font-weight: bold; */
}

header .main_menu nav .one_depth > li > a .plus{
    width: 17px; height: 17px;
    position: absolute;
    right: 0; top: 0;
}
header .main_menu nav .one_depth > li > a .plus > span{
    width: 100%; height: 2px;
    background: #aaa;
    position: absolute;
}
header .main_menu nav .one_depth > li > a .plus > span:nth-of-type(1){
    left: 0; top: 6px;
}
header .main_menu nav .one_depth > li > a .plus > span:nth-of-type(2){
    left: 0; top: 6px;
    transform: rotate(90deg);
}

header .main_menu nav .one_depth li .two_depth{
    padding-left: 34px;
    display: none;
}
header .main_menu nav .one_depth li .two_depth > li{
    margin-top: 10px;
}
header .main_menu nav .one_depth li .two_depth li > a{
    font-size: 14px;
}

header .main_menu .paul_question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 8px;
}
header .main_menu .paul_question li{
    width: 100%;
    padding: 10px;
}
header .main_menu .paul_question li a{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #e9e9e9;
}
header .main_menu .paul_question li:last-child a{
    border: none;
}

header .main_menu .paul_version{
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main_menu .paul_version p{}
header .main_menu .paul_version p span{
    color: #acacac;
}
header .main_menu .paul_version p small{
    padding: 8px;
    background: #eaeaea;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

#container{
    padding: 14px;
}
/* 980 */
.hello_login{
    height: 29vh;
    /* border: 1px solid #f00; */
}
.hello_login p{}
.hello_login p span{
    display: block;
    font-size: 1.25rem;
    color: #503629;
}
.hello_login p strong{
    font-size: 1.5625rem;
    color: #503629;
    display: block;
    margin-bottom: 16px;
}
.hello_login p small{
    color: #503629;
    font-size: 0.875rem;
    display: block;
}

.hello_login .join_login{}

.crown_order{
    float: left;
    border: 1px solid #f00;
}
.quick_order{
    float: right;
    border: 1px solid #f00;
}
.paul_coupon{
    float: left;
    border: 1px solid #f00;
}
.gift_item{
    float: right;
    border: 1px solid #f00;
}
.big_icon{
    width: 50%; height: 30.6vh;
}
.big_icon figure{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big_icon figure p{
    width: 45px;
}
.big_icon figure p img{}
.small_icon{
    width: 50%; height: 16vh;
}
.small_icon figure{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small_icon figure p{
    width: 24px;
    margin-right: 8px;
}
.small_icon figure p img{
    margin-bottom: -6px;
}
.small_icon figure figcaption{}
section figure figcaption{
    font-size: 1.5rem;
    color: #503629;
}

footer{
    height: 16vh;
    clear: both;
    border: 1px solid #f00;
}