#warp{
    width: 1024px;
    margin: 0 auto;
    background: #ebe1d2;
}

header{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .menu_icon{
    width: 18px; height: 12px;
    position: relative;
}
header .menu_icon span{
    width: 100%; height: 2px;
    background: #503629;
    position: absolute;
    left: 0;
}
header .menu_icon span:nth-of-type(2){
    top: 0;
}
header .menu_icon span:nth-of-type(2){
    top: 5px;
}
header .menu_icon span:nth-of-type(3){
    top: 10px;
}

header h1{
    width: 100px;
}
header h1 img{}

header p{
    width: 20px;
}
header p img{}

header .main_menu{
    width: 50%; height: 100vh;
    background: #fff;
    position: absolute;
    left: 0; top: 0;
    padding: 10px;
    border: 1px solid #f00;
}
header .main_menu .main_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
header .main_menu .main_login > a:nth-of-type(1){
    position: relative;
    color: #777;
}
header .main_menu .main_login > a:nth-of-type(1)::after{
    content: '';
    display: inline-block;
    width: 9px; height: 1px;
    background: #777;
    position: absolute;
    right: -18px; top: 7px;
    transform: rotate(45deg);
}
header .main_menu .main_login > a:nth-of-type(1)::before{
    content: '';
    display: inline-block;
    width: 9px; height: 1px;
    background: #777;
    position: absolute;
    right: -18px; bottom: 7px;
    transform: rotate(-45deg);
}

header .main_menu nav{}
header .main_menu nav .one_depth{}
header .main_menu nav .one_depth > li{
    margin-bottom: 22px;
}
header .main_menu nav .one_depth > li > a{
    width: 100%;
    position: relative;
}
header .main_menu nav .one_depth > li > a small{
    margin-right: 10px;
}
header .main_menu nav .one_depth > li > a small img{
    width: 17px;
    margin-bottom: -2px;
}
header .main_menu nav .one_depth li a > span{}

header .main_menu nav .one_depth > li > a .plus{
    width: 17px; height: 17px;
    position: absolute;
    right: 0; top: 0;
}
header .main_menu nav .one_depth > li > a .plus > span{
    width: 100%; height: 2px;
    background: #aaa;
    position: absolute;
}
header .main_menu nav .one_depth > li > a .plus > span:nth-of-type(1){
    left: 0; top: 6px;
}
header .main_menu nav .one_depth > li > a .plus > span:nth-of-type(2){
    left: 0; top: 6px;
    transform: rotate(90deg);
}

header .main_menu nav .one_depth li .two_depth{
    padding-left: 34px;
}
header .main_menu nav .one_depth li .two_depth > li{
    margin-top: 16px;
}
header .main_menu nav .one_depth li .two_depth li > a{}